* {
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  font-size: 14px;
}
.navigation-bar {
  width: 100vw;
  height: 100px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(3, 3, 3, 0.9);
  overflow: visible;
}
/* .form-switch{
    margin-right: 260px;
  } */
.logo-home {
  width: 202px;
  height: 61px;
  overflow: visible;
  object-fit: cover;
}
.nav-item {
  /* border: 1px solid red; */
  display: inline-block;
  width: 100px;
}
/* #navbarSupportedContent{
height: auto;
border: 1px solid red;
} */

.nav-menu {
  width: 610px;
  height: 50px;
  /* border: 1px solid orange; */
}
.nav-menu-link {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: var(--Mild_White, #ebedec);
  text-align: center;
  font-size: 20px;
  /* border-bottom: 4px solid rgba(3, 3, 3, 0.9); */
  transition-property: font-size, border-bottom;
  transition-duration: 0.25s;
  /* transition-delay: 2s; */
}

.nav-menu-link:hover {
  width: auto;
  font-size: 23px;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: var(--Mild_White, #ebedec);
  font-weight: 700;
  letter-spacing: 0;
  border-bottom: 4px solid #ebedec;
  margin: 0;
}
.nav-menu-link:visited {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: var(--Mild_White, #ebedec);
  text-align: center;
  font-size: 20px;
  transition-property: font-size, border-bottom;
  transition-duration: 0.25s;
}

#catering-logo {
  margin-right: 50px;
  width: 114px;
  height: 55px;
  object-fit: cover;
}
.nav-menu-link-acitve {
  width: auto; /* 67px */
  height: auto; /* 24px */
  overflow: visible;
  white-space: pre;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Inter-SemiBold", "Inter", sans-serif;
  color: #995a13;
  text-align: center;
  font-size: 23px;
  border-bottom: 4px solid #995a13;
  margin: 0;
}
.nav-menu-link-acitve:hover {
  text-decoration: none;
  color: #995a13;
}
/* Section One======================================= */
#sectionOneBox {
  width: 100%;
  height: auto;
  min-height: 100vh;
  /* background: url("../images/v205_735.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; */
  opacity: 1;
  overflow: hidden;
  margin-top: 0x;
}
#Box {
  width: 199px;
  height: 66px;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  text-align: center;
  color: #000000;
  margin-top: 120px;
}
.bar-dark {
  width: 200px;
  height: 8px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  overflow: hidden;
}
/* Section Two======================================= */

.sectionBox {
  background-color: #ebedec;
}
.quoteDark {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 54px;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 37px 0px; */
}
.bar-dark {
  width: 200px;
  height: 8px;
  background: rgba(0, 0, 0, 1);
  opacity: 1;
  overflow: hidden;
}
.detailEng {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.box-content {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}
.scroll-box-short {
  width: 125%;
  /* min-width: 300px; */
  height: auto;
  /* border: 1px solid black; */
}
.card-small {
  width: 195px;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  /* border: 1px solid red; */
}
.card-img-small {
  width: 100%;
  max-height: 200px;
  height: auto;
  border-radius: 12px;
}

.card-name-small {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-bottom: 0;
  font-weight: 750;
}
.card-name-thai-small {
  font-family: "prompt", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 15px;
  line-height: 14px;
  color: #000000;
}
.card-price-small {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.grabMe-btn {
  text-align: center;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 30px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: #995a13;
  padding: 10px 18px 8px;
  height: 48px;
  width: 195px;
  transition-property: font-weight, background-color;
  transition-duration: 0.25s;
}
.grabMe-btn:hover {
  font-weight: 700;
  background-color: var(--token-0161928c-161b-46bf-b35a-ba4215b6b0c0, #3d2211);
}
.pic-sm {
  width: 302px;
  height: 424px;
  border-radius: 20px;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}
.pic-lg {
  width: 330px;
  height: 480px;
  border-radius: 20px;
  filter: drop-shadow(-4px 4px 10px rgba(0, 0, 0, 0.25));
}
.box-pic {
  width: 568px;
  height: 688px;
}
/* Scroll Bar=========================== */
::-webkit-scrollbar {
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(235, 237, 236, 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(153, 90, 19, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(153, 90, 19, 0.8);
}
.scroll-box-short::-webkit-scrollbar {
  /* height:8px; */
  width: 0;
}
.narrow-section {
  width: 100%;
  min-height: 300px;
  /* background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 53.12%); */
  /* background: url("../images/v205_735.png");
  background-repeat: no-repeat;
  background-size: cover; */
  opacity: 1;
  overflow: hidden;
}
.header-narrow {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 45px;
  line-height: 54px;
  color: #ebedec;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-left: 10%;
}
#box-member {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;

  color: #000000;
  margin-top: 50px;
}
.v41_32 {
  width: 100%;
  height: 300px;
  background: url("../images/v41_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}
#letsMeetUs {
  width: 300px;
  height: 160px;
  color: rgba(235, 237, 236, 1);
  font-family: "Avenir LT Std", sans-serif;
  font-weight: 45;
  font-size: 50px;
  opacity: 1;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.25);
}
.visitShops-btn {
  text-align: center;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 25px;
  line-height: 30px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: white;
  padding: 10px 18px 8px;
  height: 48px;
  width: 195px;
  transition-property: font-weight, background-color;
  transition-duration: 0.25s;
  color: black;
}
/* Footer and Contacts======================================= */

footer {
  /* width: 100%;
  height: 410px; */
  background-color: black;
}

.contactDetail {
  width: 30%;
  color: rgba(235, 237, 236, 1);
  /* position: absolute;
  top: 2319px;
  left: 478px; */
  opacity: 1;
  text-align: left;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 22px;
}
b {
  font-weight: 800;
}
.Contact {
  width: 162px;
  color: rgba(235, 237, 236, 1);
  /* position: absolute;
  top: 2319px;
  left: 156px; */
  font-family: "Avenir LT Std", sans-serif;
  font-weight: 55 Roman;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.social-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

/* Modal Styles++++++++++++++++++++++++++++++++++++++++ */

.modal-img-contaniner {
  background-color: transparent;
  /* width: 100%;
  height: 418px;
   */
}
.modal-img {
  border-radius: 20px;
  width: 100%;
  height: 418px;
  object-fit: cover;
}
.modal-img-text {
  background: linear-gradient(
    360deg,
    #000000 -0.26%,
    rgba(0, 0, 0, 0.3) 47.14%
  );
  border-radius: 0px 0px 20px 20px;
}
.modal-name {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 30px;
  line-height: 36px;
  color: #ebedec;
}
.grabMe-btn-modal {
  text-align: center;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.25);
  border: none;
  background-color: #995a13;
  /* padding: 10px 18px 8px; */
  width: 85px;
  height: 35px;
  transition-property: font-weight, background-color;
  transition-duration: 0.25s;
}
.grabMe-btn-modal:hover {
  font-weight: 600;
  background-color: var(--token-0161928c-161b-46bf-b35a-ba4215b6b0c0, #3d2211);
}
.btn-close-custom {
  width: 20px;
  height: 20px;
  background-color: #ebedec;
  border-radius: 50%;
}
.modal-text {
  background-color: #ebedec;
}
.modal-ingredient {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}
.modal-detail {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
}
.time-preserve {
  width: 300px;
  height: 50px;
}
.clock-img {
  width: 25px;
  height: 25px;
}
.modal-preservation {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 13px;
  line-height: 13px;
  color: #000000;
}

/* Tablet Screen Display============================================================================================== */
@media (max-width: 1023px) {
  .navigation-bar {
    height: 56px;
  }
  .logo-home {
    width: 110px;
    height: 32px;
  }
  #catering-logo {
    margin-right: 0;
    width: 64px;
    height: 26px;
  }
  .nav-item {
    width: 67px;
  }
  .nav-menu {
    width: 400px;
    height: 30px;
    margin-bottom: 5px;
    /* border: 1px solid orange; */
  }
  .nav-menu-link {
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu-link:hover {
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu-link:visited {
    font-weight: 400;
    font-size: 18px;
  }
  .nav-menu-link-acitve {
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
  }
  #sectionOneBox {
    height: 486px;
    min-height: 486px;
  }
  #Box {
    width: 112px;
    height: 38px;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    margin-top: 106px;
  }
  .pic-sm {
    width: 140px;
    height: 196px;
    border-radius: 10px;
  }
  .pic-lg {
    width: 172px;
    height: 241px;
    border-radius: 10px;
  }
  .bar-dark {
    width: 107px;
    height: 5px;
  }
  .quoteDark {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    /* margin: 37px 0px; */
  }
  .box-content {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }
  .box-pic {
    width: 288px;
    height: 328px;
  }
  .card-small {
    width: 119px;
  }
  .card-img-small {
    max-height: 112px;
    border-radius: 10px;
  }
  .card-name-small {
    font-size: 10px;
    line-height: 11px;
    font-weight: 700;
  }
  .card-name-thai-small {
    font-weight: 350;
    font-size: 8px;
    line-height: 9px;
  }
  .card-price-small {
    font-weight: 350;
    font-size: 13px;
    line-height: 14px;
  }
  .scroll-box-short {
    width: 115%;
  }
  .scroll-box-short::-webkit-scrollbar {
    display: none;
  }
  .scroll-box::-webkit-scrollbar {
    display: none;
  }
  .grabMe-btn {
    font-weight: 350;
    font-size: 18px;
    line-height: 22px;
    padding: 0;
    height: 38px;
    width: 104px;
  }
  .narrow-section {
    width: 100%;
    min-height: 200px;
    background: url("../images/v205_735.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .quoteWhite {
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
  }
  #box-member {
    font-size: 33.75px;
    line-height: 41px;
    margin-top: 30px;
  }
}

/* Mobile Screen Display=============================================================== */

#mobileNavbar {
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.8);
}
.imgIcon {
  width: 43px;
  height: 43px;
}
.textIcon {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ebedec;
}
.textIcon-hover {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ebedec;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #ebedec;
}
.textIcon-active {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #995a13;
}
#sectionOneBox-mobile {
  height: 1vw;
  min-height: 360px;
  /* background: linear-gradient(180deg, #000000 0%, rgba(61, 34, 17, 0.29) 60.42%),
    url(../images/image-mobile/Meal-Page-Background.jpg);
  background-size: cover; */
  padding-top: 80px;
}

#newMenu {
  width: 212px;
  height: 80px;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 350;
  font-size: 33.18px;
  line-height: 40px;
  text-align: center;
  color: #ebedec;
}
.menu-header-mobile-dark {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 750;
  font-size: 13.33px;
  line-height: 16px;
  color: #000000;
}
.bar-dark-mobile {
  width: 44px;
  height: 3px;
  background: #000000;
}
#banner-mobile-1 {
  width: 100%;
  height: 160px;
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 51.55%, #000000 84.72%),
    url(../images/v205_735.png); */
}
#banner-mobile-2 {
  width: 100%;
  height: 160px;
  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 51.55%, #000000 84.72%),
    url(../images/v208_0.png); */
}
.banner-mobile-header {
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 650;
  font-size: 13.33px;
  line-height: 20px;
  color: #fff;
}
.bar-white-mobile {
  width: 44px;
  height: 3px;
  background: #ebedec;
}
.banner-mobile-list {
  width: 74px;
  height: 44px;
  font-family: "Avenir LT Std", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 11.11px;
  line-height: 13px;
  color: #fff;
}
@media (max-width: 767px) {
  .scroll-box-short::-webkit-scrollbar {
    display: none;
  }
  .scroll-box::-webkit-scrollbar {
    display: none;
  }
  .scroll-box-short {
    width: 95vw;
  }
  .scroll-box {
    width: 95vw;
  }
  .card-small {
    width: 120px;

    /* background: #EBEDEC; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    border-radius: 7px;
  }
  .card-img-small {
    max-height: 120px;
    height: auto;
    border-radius: 12px;
  }

  .card-name-small {
    font-size: 12px;
    line-height: 11px;
    font-weight: 600;
  }
  .card-name-thai-small {
    display: inline-block;
    width: 75%;
    font-weight: 350;
    font-size: 9px;
    line-height: 12px;
  }
  .card-price-small {
    font-weight: 350;
    font-size: 15px;
    line-height: 9px;
  }
  .card-name-small-white {
    font-size: 12px;
    line-height: 11px;
    font-weight: 600;
  }
  .card-name-thai-small-white {
    display: inline-block;
    width: 75%;
    font-weight: 350;
    font-size: 9px;
    line-height: 12px;
  }
  .card-price-small-white {
    font-weight: 350;
    font-size: 15px;
    line-height: 9px;
  }
  .header-narrow {
    font-size: 35px;
    line-height: 38px;
  }
  #box-member {
    font-weight: 750;
    font-size: 23px;
    line-height: 28px;

    color: #000000;
    margin-top: 20px;
  }
  .contactDetail {
    width: 48%;
  }
}
